.infoAlignment{
    Margin-left:auto;
    Margin-right:auto;}
.profileAlignment{
 padding-left:20%;
padding-right:20%;}
        
img{
    height:400px; 
    width:400px;
    border-radius: 50%;
        }
.centerTable{
Margin-left:auto;
Margin-right:auto;}
body{
 background-color:#979eff;"
        }
        .linkCells{
            padding:10px;}  
            .hobbyimg{
                height:200px;
                width:200px;
                
            } 